* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0090CF;
    color: white;
    padding: 15px;
}

section {
    padding: 20px;
    margin: 20px 0;
}

section h2 {
    margin-bottom: 10px;
    color: #0090CF;
}

/* Calculadora de IMC */
#imc-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#imc-form label, #imc-form input {
    margin-bottom: 10px;
}

#imc-form button {
    padding: 10px;
    background-color: #0090CF;
    color: white;
    border: none;
    cursor: pointer;
}

#imc-form button:hover {
    background-color: #007bbd;
}

#resultado {
    margin-top: 15px;
    font-size: 18px;
}

/* Estilo do Menu Expansivo */
nav {
    position: relative;
    background-color: #0090CF;
}

.menu-toggle {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    background-color: #0090CF;
    border: none;
    outline: none;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s;
}

.nav-list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0090CF;
}

.nav-list li {
    text-align: center;
    padding: 10px 0;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
}

.nav-list.active {
    display: block;
}

/* Estilo Responsivo */
@media (min-width: 768px) {
    .nav-list {
        display: flex;
        justify-content: space-around;
    }

    .menu-toggle {
        display: none;
    }
}
